<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./log/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" 
                name="allfile" 
                fileName="./log/VoteMap.Core.log" 
                layout="[${longdate}] [${threadid}] [${aspnet-request-headers:HeaderNames=requestid:valuesOnly=true}] ${uppercase:${level}} ${callsite} - ${message} ${exception:format=tostring}" 
                archiveEvery="Day"
                archiveFileName="./log/VoteMap.Core.{#}.log"
                archiveNumbering="Date" 
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7"/>
    <target xsi:type="File" 
                name="errorfile" 
                fileName="./log/error.log" 
                layout="[${longdate}] [${threadid}] [${aspnet-request-headers:HeaderNames=requestid:valuesOnly=true}] ${uppercase:${level}} ${callsite} - ${message} ${exception:format=tostring}" 
                archiveEvery="Day"
                archiveFileName="./log/error.{#}.log"
                archiveNumbering="Date" 
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7"/>
    <target xsi:type="File" 
                name="accessfile" 
                fileName="./log/access.log" 
                layout="[${longdate}] [${threadid}] [${aspnet-request-headers:HeaderNames=requestid:valuesOnly=true}] ${uppercase:${level}} - ${message} ${exception:format=tostring}" 
                archiveEvery="Day"
                archiveFileName="./log/access.{#}.log"
                archiveNumbering="Date" 
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7"/>
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*Controllers*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*RequestLoggingMiddleware*"  writeTo="accessfile" />
  </rules>
</nlog>