@{
    ViewData["Title"] = "首頁";
}

<ul>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="municipality_mayor" >2014 直轄市長選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="municipality_local_parliamentary" >2014 直轄市區域議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="municipality_aboriginal_parliamentary" >2014 直轄市山原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="municipality_parliamentary" >2014 直轄市平原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="mayor" >2014 市長選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="local_parliamentary" >2014 區域議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="aboriginal_parliamentary" >2014 山原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2014" asp-route-type="parliamentary" >2014 平原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="municipality_mayor" >2018 直轄市長選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="municipality_local_parliamentary" >2018 直轄市區域議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="municipality_aboriginal_parliamentary" >2018 直轄市山原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="municipality_parliamentary" >2018 直轄市平原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="mayor" >2018 市長選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="local_parliamentary" >2018 區域議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="aboriginal_parliamentary" >2018 山原議員選舉</a>
    </li>
    <li class="my-3">
        <a class="" asp-area="" asp-controller="Home" asp-action="Town" asp-route-year="2018" asp-route-type="parliamentary" >2018 平原議員選舉</a>
    </li>
</ul>
    

@section Scripts
{
    
}